html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    background: lightblue;
    grid-gap: 1em;
}

.card {
    margin-left: 1em;
    margin-right: 1em;
    background: white;
}

span {
    height: 100px;
    display: block;
    width: 100%;
    background: #71A6B8;
}

p.date {
    text-align: center;
    font-size: .7em;
    text-transform: uppercase;
}

h3 {
    margin: 0;
}

p.desc {
    font-size: .9em;
}

/* 
   Use the following properties
   to fix the alignment and white
   space issues on the rulesets
   below this comment.
   
   margin, padding, text-align
   
*/

body {}

.content {}

p.date {}

h3 {
    width: 100%;
    text-align: center;
}

p.desc {
    margin-left: 10%;
    width: 80%;
    text-align: center;
}